$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #2e5eff;
$secondary-color: #ff501b;

// set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #2D3142;
    } @else {
        @return #FFFFFF;
    }
}

// set bg & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}
