// import variables and functions
@import 'config';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
}

.showcase {
    @include set-background($primary-color);
    height: 50rem;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 2rem;
        }

        a {
            font-size: 1.3rem;
            color: set-text-color($primary-color);
        }

        a:hover {
            color: $secondary-color;
        }
    }

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;

        img {
            width: auto;
        }

        h1 {
            font-size: 3rem;
            line-height: 1.2;
        }


    }
}

.footer {
    @include set-background(lighten($secondary-color, 20%));
    height: rem;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20%;
        }

        h1 {
            font-size: 3rem;
            line-height: 1.9;
            color: set-text-color($secondary-color);
        }

        ul {
            list-style-type: none;
        }

        li {
            padding: 1rem;
        }

        a {
            font-size: 1.5rem;
            color: set-text-color($secondary-color);
        }

        a:hover {
            color: $primary-color;
        }
    }
}

// imports
@import 'buttons';
@import 'utilities';

// media queries
@import 'mobile';
